APP_NAME=Job_Match_v1
APP_ENV=local
APP_KEY=base64:SECRET
APP_DEBUG=true
APP_TIMEZONE=Asia/Dhaka
APP_URL=http://localhost:8000

GOOGLE_CLIENT_ID=[SECRET]
GOOGLE_CLIENT_SECRET=[SECRET]
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306

# Local Database Configuration
DB_DATABASE=JobMatch-DB
DB_USERNAME=root
DB_PASSWORD=

# Production Database Configuration
# DB_DATABASE=amarbankplc_ Job_Match_v1
# DB_USERNAME=amarbankplc_sazzadul_admin
# DB_PASSWORD=8&W5(U01Kv?O

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=[SECRET]
MAIL_PASSWORD=[SECRET]
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=[SECRET]
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
